.projects {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    display: flex;
    gap: 5px;
    flex-direction: column;
    padding: 50px 0 100px 0;
}

.projects__title {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.project {
    width: calc(100% - 70px * 2);
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
.project__description {
    width: 50%;
    padding: 20px 50px;
    display : flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.project__btn {
    margin-top: 70px;
}

.project:nth-child(2n) {
    flex-direction: row-reverse;
}

.slider-container {
    width: 50%;
}

.project__image {
    width: 100%;
    padding: 20px 0;
    height: auto;
    cursor: pointer;
}

.project__title {
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
}

.project__square {
    font-size: 20px;
    font-weight: 400;
    color: rgb(74, 74, 74);
}

.carousel__next {
    all: unset;
    display: block;
    margin-right: 15px;
    cursor: pointer;
    content: "";
    background-image: url("../../assets/images/chevron-right-solid.svg");
    background-size: 15px;
    width: 20px;
    height: 20px;
    padding: 10px;
    background-color: rgba(219,219,219,0.7);
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
}

.carousel__next_l {
    all: unset;
    content: "";
    display: block;
    margin-right: 0;
    margin-left: 15px;
    cursor: pointer;
    background-image: url("../../assets/images/chevron-right-solid.svg");
    background-size: 15px;
    width: 20px;
    height: 20px;
    padding: 10px;
    background-color: rgba(219,219,219,0.7);
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
    transform: rotate(180deg);
}

.carousel__next_l:hover {
    background-size: 24px;
    background-color: rgb(101,121,2);
    transform: rotate(90deg);
    background-image: url("../../assets/images/chevron-hover.svg");
    transition: all 0.3s ease-in-out;
}

.carousel__next:hover {
    background-size: 24px;
    background-color: rgb(101,121,2);
    transform: rotate(-90deg);
    background-image: url("../../assets/images/chevron-hover.svg");
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1280px) {
    .projects {
        max-width: 100%;
        width: calc(100% - 70px * 2);
    }

    .project {
        width: 100%;
    }

    .project__description {
     /*width: calc(100% - 70px * 2);*/
        width: 50%;
    }

    .project__image {
        /*max-width: 50%;*/
        width: 100%;
        height: 90%;
        cursor: pointer;
    }
}

@media screen and (max-width: 1023px) {
    .projects {
        width: calc(100% - 40px * 2);
    }

    .project__description {
        width: 50%;
        gap: 10px;
        padding: 20px;
    }

    /*.project__image {*/
    /*    */
    /*}*/

    .project__title {
        font-size: 26px;
        font-weight: 600;
    }

    .project__btn {
        margin-top: 50px;
    }

    .projects__title {
        font-size: 36px;
        margin-bottom: 35px;
    }

    .project__square {
        font-size: 16px;
        font-weight: 500;
    }

}

@media screen and (max-width: 764px) {
    .projects {
        width: calc(100% - 20px * 2);
        margin: 0 auto;
        gap: 20px;
        padding: 30px 0;
    }

    .project__description {
        width: 100%;
        padding: 0;
    }

    .project__image {
        max-width: 100%;
        margin: 0 auto;
        cursor: default;
    }


    .slider-container {
        width: 100%;
        margin: 0 auto;
    }

    .project {
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .project:nth-child(2n) {
        flex-direction: column;
    }

    .project__title {
        font-size: 22px;
        font-weight: 600;
    }

    .project__btn {
        margin-top: 20px;
    }

    .projects__title {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .project__square {
        font-size: 16px;
        font-weight: 500;
        margin-top: 20px;
    }
}