.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation__link {
    width: 100%;
    all: unset;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    padding: 8px;
    cursor: pointer;
}